<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/navigationBar') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/pages/login">Log in here</a>
    <a href="/pages/signup">sign up here</a>
  </body>
  <%- include('./partials/copyright') %>
</html>
