<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/sytlesheets/style.css'/>
        <nav class="footerNav" style="background-color:black;">
            <p style="color:white;padding:15px;" style="padding:15px">&#169; Parrots&Ferrets</p>
        </nav>
        

    </head>
</html>