<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/sytlesheets/style.css"/>
        <nav class="navBar" style="background-color:black;">
            <p style="color:white;padding:15px;text-align: center;">Parrots and Ferrets</p>
        </nav>
        <nav class="navBar" style="background-color: #00B7FF;">
            <a href="/pages/products" >Products</a>
            <a href="/pages/about" >About</a>
            <a href="/pages/shoppingCart" >Shopping Cart</a>
            <input type="text"  style="text-align: center;"/> 
            
        </nav>

    </head>
</html>