<!DOCTYPE html>
<html>
    <head>
      <link rel='stylesheet' href='/sytlesheets/style.css'/>
      <nav class="sticky">
        <nav class="navBar" style="background-color:black;">
          <a style="font-size: 16px; float:right; padding:10px" href="/pages/shoppingCart">Cart</a>
          <a style="font-size: 16px; float:right; padding:10px" href="/pages/login" >Sign In</a>
        </nav>
        <nav class="navBar" style="background-color: #afc4e3;">
            <a style="color: rgb(0, 0, 0); font-family: 'Caudex'; font-size: 25px; font-weight:normal; float: left"href="/" >Parrots and Ferrets</a>
            <a style="color: rgb(0, 0, 0); ;" href="/pages/products" >SHOP</a>
            <a style="color: rgb(0, 0, 0); float:right;" href="/pages/products" >SHOP</a>
            <a style="color: rgb(0, 0, 0); float:right;" href="/pages/about" >ABOUT</a>
        </nav>
      </nav>
    </head>
</html>