<!DOCTYPE html>
<html>
    <head>
      <link rel='stylesheet' href='/sytlesheets/style.css'/>
      <nav class="sticky">
        <nav class="navBar" style="background-color:black;">
          <br>
        </nav>
        <nav class="navBar" style="background-color: #00B7FF;">
            <a href="/" >Parrot and Ferrets</a>
            <a href="/pages/products" >SHOP</a>
            <a href="/pages/about" >ABOUT</a>
            <a href="/pages/shoppingCart" >CART</a>
            <input type="text">
            <a href="/pages/login" >SIGN IN</a>
        </nav>
      </nav>
    </head>
</html>