<!DOCTYPE html>
<html>
    <head>
      <title> <%=title%> </title>
      <%- include('../partials/navigationBar') %>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <h1><%= title %></h1>
      <b>Here at Parrots and Ferrets, we are dedicated to transparency, honesty, and bringing you the best products possible. Since our company was founded in 2024, we have focused on providing bird and ferret owners with the best possible food, enclosures, and accessories possible. We believe pets deserve the absolute best and we are committed to providing that to our customers.</b>
    </body>
</html>