<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/navigationBar') %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h2><%=title%></h2>
    <form action="/pages/addProduct" method="post">
        <label for="productName">Product name:</label>
        <input type="text" id="name" name="name" required> <br>
        <br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" min="0" step=".01" required><br>
        <br>
        <p> Select Tags: </p>
        <label for="tags">Clothing</label>
        <input type="checkbox" id="tags" name="tags" value="Clothing"><br>
        <label for="tags">Cool</label>
        <input type="checkbox" id="tags" name="tags" value="Cool"><br>
        <label for="tags">Expensive</label>
        <input type="checkbox" id="tags" name="tags" value="Expensive"><br>
        <label for="tags">Enclosure</label>
        <input type="checkbox" id="tags" name="tags" value="Enclosure"><br>
        <label for="tags">Fancy</label>
        <input type="checkbox" id="tags" name="tags" value="Fancy"><br>
        <label for="tags">Food</label>
        <input type="checkbox" id="tags" name="tags" value="Food"><br>
        <label for="tags">Toys</label>
        <input type="checkbox" id="tags" name="tags" value="Toys"><br>
        <label for="tags">Grooming</label>
        <input type="checkbox" id="tags" name="tags" value="Grooming"><br>
        <br>
        <p>
           Category: 
          <select id="category" name="category" required>
              <option>Both </option>
              <option>Ferret</option>
              <option>Bird</option>
          </select>
      </p>
        <br>
        <label for="img" >Image link:</label>
        <input type="url" id="img" name="img"><br>
        <br>
        <label for="description">Product decription:</label> 
        <br>
        <textarea type="text" id="desc" name="desc" rows="4" cols="50"></textarea>
        <br>
        <br>
        <input type="submit" value="Add product">
      </form>
</body>
</html>