<!DOCTYPE html>
<html>
<body>
<h2><%=title%></h2>

<form>
  <label for="fname">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="lname">Password:</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form> 

<a href="/">Not a user? Create an account</a>
</body>
</html> 
