<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/navigationBar') %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h2><%=title%></h2>
    <form action="/pages/signup" method="post">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br>
        <br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br>
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br>
        <br>
        <label for="address" >Address:</label>
        <input type="text" id="address" name="address"><br>
        <br>
        <label for="state">State:</label>
        <input type="text" id="state" name="state"><br>
        <br>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country"><br>
        <br>
        <label for="admin">Admin:</label><input type="checkbox" id="admin" name="admin"><br>
        <br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <br>
        <input type="submit" value="Sign Up">
      </form>
</body>
</html>