body {
  padding: 50px;
  font: 14px;
  font-family: 'ABeeZee';
}

h1 {
  font: 30px;
  font-family: 'Caudex';
}

p1 {
  font-size: 24px;
  font-family: 'ABeeZee';
}

.sticky {
  position: sticky;
  top: 0;
}

.navBar {
  overflow: hidden;
}

.navBar a {
  font-family: 'ABeeZee';
  color: white;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  padding: 15px;
}

.navBar h1 {
  font: 20px;
  font-family: 'Caudex';
  color: white;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  padding: 15px;
}

a {
  color: #00B7FF;
}

b {
  font-family: 'ABeeZee';
  padding: 50px;
  font: 20px;
}

.column {
  float: left;
  text-align: justify;
  width: 30.33%;
  padding: 1.5%;
}

.column50 {
  float: left;
  text-align: justify;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding-right: 25%;
  padding-left: 25%;
  color: rgba(0,0,0,0.6);
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: black;
}

.numbertext {
  color: rgba(0,0,0,0.6);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee'), local('ABeeZee-Regular'), url(http://themes.googleusercontent.com/static/fonts/abeezee/v1/JYPhMn-3Xw-JGuyB-fEdNA.ttf) format('truetype');
}

@font-face {
  font-family: 'Caudex';
  font-style: normal;
  font-weight: 400;
  src: local('Caudex'), url(http://themes.googleusercontent.com/static/fonts/caudex/v3/03NMplHkN8ROgyklztlsOQ.ttf) format('truetype');
}