
body {
  font: 14px;
  font-family: 'ABeeZee';
  margin: 0;
  padding-top: 75px;
}

h1 {
  font: 30px;
  font-family: 'Caudex';
  padding-left: 15px;
  padding-top: 15px;
}

p {
  padding-left: 15px;
}

p1 {
  font-size: 24px;
  font-family: 'ABeeZee';
}

.sticky {
  position: fixed;
  width:100%;
  top: 0;
}

.footerNav {
  left: 0;
  bottom: 0;
  width: 100%;
}

.navBar {
  overflow: hidden;
  margin: 0;
  width: 100%;
  align-content: center;
  display: flex;
}

.navBar input[type=text] {
  font-family: 'ABeeZee';
  padding: 6px;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 15px;
}

.navBar a {
  font-family: 'ABeeZee';
  color: rgb(255, 255, 255);
  font-weight:bold;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

a {
  color: #afc4e3;
}

b {
  font-family: 'ABeeZee';
  padding: 50px;
  font: 20px;
}

.column {
  float: left;
  text-align: justify;
  width: 30.33%;
  padding: 1.5%;
}

.column50 {
  float: left;
  text-align: justify;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding-right: 25%;
  padding-left: 25%;
  color: rgba(0,0,0,0.6);
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.th, .td {
  border-bottom: 1px solid;
}
.table, .th, .td {
  border-collapse: collapse;
  padding: 15px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: black;
}

.numbertext {
  color: rgba(0,0,0,0.6);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

/* collapsible menu */
.collapsible {
  background-color: #e4e4e4;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f3f3f3;
  font-size: 15px;
}

@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee'), local('ABeeZee-Regular'), url(http://themes.googleusercontent.com/static/fonts/abeezee/v1/JYPhMn-3Xw-JGuyB-fEdNA.ttf) format('truetype');
}

@font-face {
  font-family: 'Caudex';
  font-style: normal;
  font-weight: 400;
  src: local('Caudex'), url(http://themes.googleusercontent.com/static/fonts/caudex/v3/03NMplHkN8ROgyklztlsOQ.ttf) format('truetype');
}